body{
  font-family: 'Ubuntu', sans-serif;
}

.number__header{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.nav__row{
  margin: 20px 0 81px;
}

.header__title{
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  line-height: 21px;
  color: #ffffff;
}

.header__text1{
  margin-top: 20px;
  font-size: 48px;
  color: #ffffff;
  line-height: 56px;
}

.header__text2{
  margin-top: 30px;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  line-height: 28px;
}

.header__ellipse1{
  justify-content: center;
}

.header__button1{
  margin: 50px 0 100px;
  width: 367px;
  height: 70px;
  color: #4b00e0;
  font-size: 24px;
  font-weight: 700;
  border-radius: 80px;
  border-color: white;
  background: #ffffff;
}

.header__block1, .header__block2, .header__block3{
  margin-bottom: 150px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  width: 367px;
  height: 287px;
  background-color: #fbfbfb;
}

.header__ellipse1{
  position: relative;
  top: 20px;
}

.header__icon1{
  position: absolute;
  top: 40px;
  left: 176px;
}

.header__icon2{
  position: absolute;
  top: 43px;
  left: 172px;
}

.header__icon3{
  position: absolute;
  top: 38px;
  left: 172px;
}

.header__text3{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #113f67;
  margin-top: 38px;
  line-height: 28px;
}

/* Section: Author */

.author__picture1{
  position: absolute;
}

.author__title{
  font-size: 36px;
  color: #113f67;
  line-height: 42px;
  margin-bottom: 50px;
}

.author__text1{
  color: #113f67;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
}

.author__text2{
  color: #113f67;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

.author__text3{
  font-size: 20px;
  font-weight: 400;
  color: #113f67;
  line-height: 23px;
  margin-bottom: 20px;
}

.author__text4{
  color: #c2ced8;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  line-height: 25px;
  font-weight: 900;
  width: 20px;
  height: 49px;
}

.author__text5{
  font-size: 14px;
  line-height: 16px;
  color: #abbbc9;
  margin-bottom: 31px;
}

.author__button{
  color: #ffffff;
  width: 367px;
  height: 70px;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 28px;
  background: #671ae2;
  border-radius: 70px;
}

.author__title1{
  color: #113f67;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}
