.door1{
  display: flex;
  width: 248px;
  height: 520px;
  margin-right: 30px;
  border: 2px solid #222222;
  background: url(https://worker265.github.io/images/door1.jpg) center;
}

.door2{
  display: flex;
  width: 248px;
  height: 520px;
  margin-right: 30px;
  border: 2px solid #222222;
  background: url(https://worker265.github.io/images/door1.jpg) center;
}

.door3{
  display: flex;
  width: 248px;
  height: 520px;
  border: 2px solid #222222;
  background: url(https://worker265.github.io/images/door1.jpg) center;
}

.group__door{
  margin: 50px auto 50px;
}

.money{
  background: url(https://worker265.github.io/images/money.jpg) center !important;
}

.field{
  display: flex;
  margin: 50px auto;
  border: 1px solid #000;
  width: 618px;
  height: 624px;
  flex-wrap: wrap;
}

.excel{
  width: 77px;
  height: 78px;
  border: 1px solid #000;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  font-size: 40px;
  color: #8d09e6;
}

@media screen and (max-width: 3000px) {
  .group__door{
    display: flex;
  }
}

@media screen and (max-width: 485px) {
  .group__door{
    display: block;
  }
}
